* {
    /* border: 2px solid red; */
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

body,
ul,
li,
h1,
h2,
a {
    margin: 1px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, .54);
}

.nav__top a {
    color: black;
}

.main__language p {
    color: #000;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

.header__container {
    width: 100%;
}

.top__appicon {
    bottom: 8px;
}

.right__appicon {
    opacity: .5;
}

.right__appicon:hover {
    opacity: 1;
}

.nav__top--left {
    display: inline-block;
    float: left;
    position: relative;
    padding: 10px 0 0;
    margin-left: 10px;
}

.nav__top--right {
    display: inline-block;
    float: right;
    position: relative;
    padding: 10px 0 0;
    margin-left: 10px;
}

.sign-in {
    bottom: 8px;
}

#signin-btn {
    background-color: #0288D1;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
}

#signin-btn:hover {
    border: solid 1px blue;
    background-color: #fff;
    color: blue;
}

.main__banner--img {
    display: block;
    /* padding: 5px; */
    margin: 130px auto 15px;
}

.main_button {
    position: relative;
    /* align-items: center; */
    /* justify-items: center; */
}

.main__searchbox--div,
.main__button--form {
    width: 100%;
    text-align: center;
    /* overflow: hidden; */
}

.main__searchbox--div {
    margin: 0 auto;
    width: 575px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    outline: none;
}

.main__searchbox--div:hover {
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 4px 1px rgb(228, 224, 224);
}

.main__searchbox--div:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.searchbox__magnify {
    position: relative;
    height: 30px;
    top: 10px;
    right: 475px;
}

.searchbox__microphone {
    position: relative;
    height: 20px;
    top: 5px;
    left: 10px;
}

#searchbox {
    height: 50px;
    border: none;
    padding: 0 30px;
    width: 460px;
    margin: 0 auto;
    font-size: 16px;
    outline: none;
    text-align: left;
    /* overflow: hidden; */
}

.main__btn {
    weight: 100%;
}

.main__btn--form {
    padding: 30px;
    margin: auto;
    height: 40px;
    /* justify-content: center; */
    text-align: center;
}

.button__search {
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border: none;
}

.button__search:hover {
    border: solid 1px gray;
}

.main__language {
    /* justify-content: center; */
    text-align: center;
}

.language {
    color: blue;
}

.nav__bottom--top {
    padding: 10px 25px;
    text-align: left;
    color: #5f6368;
}

.nav__bottom {
    background-color: #F2F2F2;
    border: 1px solid #e4e4e4;
}

.nav__bottom--left {
    display: inline-block;
    float: left;
    /* text-align: center; */
    /* align-content: center; */
    padding: 0;
    margin: 5px 10px;
    align-content: flex;
    justify-content: flex-end;
}

.nav__bottom--right {
    display: inline-block;
    float: right;
    text-align: center;
    align-content: center;
    padding: 0px 0 0;
    margin: 5px 10px;
    align-content: flex;
    justify-content: flex-end;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
    color: white;
    text-align: center;
    border: 1px solid #e4e4e4;
}