* {
    /* border: 2px solid red; */
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, .54);
    overflow: hidden;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

ul a {
    color: black;
    margin-right: 0.75em;
    margin-left: 0.75em;
}

.nav__top a {
    color: black;
}

.main__language p {
    color: #000;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

.header__container {
    width: 100%;
    margin-top: 20px;
}

.nav__top--left {
    display: inline-block;
    float: left;
    position: relative;
    padding: 0;
}

.nav__top--right {
    display: inline-block;
    float: right;
    position: relative;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.top__appicon {
    bottom: 8px;
}

.right__appicon {
    opacity: .5;
}

.right__appicon:hover {
    opacity: 1;
}

.sign-in {
    bottom: 8px;
}

#signin-btn {
    background-color: #0288D1;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

#signin-btn:active {
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}

#signin-btn:hover {
    border: solid 1px blue;
    background-color: #fff;
    color: blue;
    cursor: pointer;
}

.main__banner--img {
    display: block;
    height: 92px;
    width: 272px;
    margin: 145px auto 0;
}

.main_button {
    position: relative;
}

.main__searchbox--div {
    width: 100%;
    text-align: center;
}

.main__searchbox--div {
    width: 583px;
    height: 44px;
    border-radius: 25px;
    border: 1px solid #dcdcdc;
    margin: 28px auto;
    text-align: center;
}

.main__searchbox--div:hover {
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 4px 1px rgb(228, 224, 224);
}

.main__searchbox--div:focus-within {
    box-shadow: 0px 0px 10px #dcdcdc;
    outline: none;
}

.searchbox__magnify {
    position: relative;
    height: 20px;
    top: 9px;
}

.searchbox__microphone {
    position: relative;
    height: 20px;
    top: 7px;
    cursor: pointer;
}

.searchbox__keyboard {
    position: relative;
    height: 24px;
    top: 3px;
    right: 5px;
    cursor: pointer;
}

#searchbox {
    position: relative;
    height: 33px;
    width: 470px;
    outline: none;
    border: none;
    top: 4px;
    padding: 10px;
    font-size: 16px;
}

.main__btn--form {
    width: 100%;
    text-align: center;
}

.button__search {
    height: 36px;
    min-width: 120px;
    background-color: #f2f2f2;
    color: #5f6368;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    margin-left: 10px;
    padding: 10px;
}

.button__search:hover {
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: solid 1px #c6c6c6;
    color: #222222;
    cursor: pointer;
}

.main__language {
    text-align: center;
    margin-top: 32px;
}

.language__link {
    color: #1967d2;
    font-size: small;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #F2F2F2;
    width: 100%;
    font-size: 14px;
}

.nav__bottom--top {
    padding: 11px 10px;
    border: 1px solid #e4e4e4;
    color: #5f6368;
}

.nav__bottom {
    background-color: #F2F2F2;
    border: 1px solid #e4e4e4;
}

.nav__bottom--left {
    display: inline-block;
    float: left;
    padding: 6px 0;
}

.nav__bottom--right {
    display: inline-block;
    float: right;
    padding: 6px 0;
}